:root {
  --BgColor: #f8f8f8;
  --MainColor: #263576;
  --textColor: #ffffff;
  --line: #d9dddd;
}

body {
  position: relative;
  min-height: 130vh;
  margin: 0 auto;
  background-color: var(--Bgcolor);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  list-style-type: none;
}
