:root {
  --BgColor: #f8f8f8;
  --MainColor: #263576;
  --textColor: #ffffff;
  --line: #d9dddd;
}

body {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 70px 15px 0 15px ;
  background-color: var(--Bgcolor);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  list-style-type: none;
}
