@font-face {
  font-family: "Noto-L";
  src: url("../public/fonts/NotoSansKR-Light.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Noto-M";
  src: url("../public/fonts/NotoSansKR-Medium.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Noto-SB";
  src: url("../public/fonts/NotoSansKR-SemiBold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Noto-B";
  src: url("../public/fonts/NotoSansKR-Bold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Money-Graphy";
  src: url("../public/fonts/MoneygraphyRounded.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "esamanru-B";
  src: url("../public/fonts/esamanru-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "esamanru-M";
  src: url("../public/fonts/esamanru-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "esamanru-L";
  src: url("../public/fonts/esamanru-Light.ttf") format("truetype");
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

* {
  box-sizing: border-box;
  word-break: keep-all;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.hidden {
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  position: absolute;
  left: -9999px;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: none;
}

a {
  color: inherit;
}

body {
  font-family: "Noto-L", "Noto-M", "Noto-SB", "Noto-B", "Money-Graphy",
    "esamanru-B", "esamanru-M", "esamanru-L";
}
