.Main_Service h2{
    font-size: 24px;
    font-weight: bold;
    margin: 30px 0;
}

.Main_Service div{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.Main_Service a{
    width: 48%;
    padding: 2%;
}

.Main_Service h3{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.Main_Service span{
    font-size: 16px;
}